postgres_port=5433
postgres_user=postgres
postgres_password=postgres
postgres_db=postgres
redis_port=6379
minio_port=9000
minio_port_alt=9001
minio_user=minioadmin
minio_password=minioadmin
elasticsearch_port=9200
jaeger_port=16686
jaeger_port_alt=4317
kafka_port=9092
